.menu-parent {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.menu-element {
    width: 80%;
    height: 35px;
    background: black;
}

.parent {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.element {
    width: 26%;
    height: 200px;
    background: red;
}

