.parent {
    width: 620px;
    height: 200px;
    background:chocolate;
}

ul {
    min-height: 20px;
    background:green;
    list-style: none;
    padding: 10px;
}

ul li {
    display: inline-block;
    margin: 0 12px;
    padding: 10px;
    border: 2px solid black;
}

ul li:hover {
    background: darkgreen;
}

ul li a {
    text-decoration: none;
    color: #e9e6e0;
}

ul li a:hover {
    color: #fff;
    text-decoration: underline;
    
}