@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

* {
    font-family: 'Roboto';
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
}
/* Container */
.container {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.text-2xl {
    font-size: 1.7rem;
}

.text-4xl {
    font-size: 2.25rem;
}

.text-6xl {
    font-size: 4.5rem;
}

/* Header Start */

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.navbar {
    display: flex;
    width: 97%;
    align-items: center;
    height: 50px;
    justify-content: space-around;

}

.brand {
    display: flex;
    width: 35%;
}

.menu {
    width: 30%;
}

.menu ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
/* TO Be continued... */
/* .menu ul li {
    border-right: 2px solid black;
    border-left: 2px solid black;
    padding: 0 10px;
} */

.addition {
    display: flex;
    justify-content: flex-end;
    width: 35%;
}

/* Header End */

/* Cover Start */
.cover-container {
    display: flex;
    justify-content: center;
    height: 720px;
}

.cover {
    width: 93%;
    display: flex;
    align-items: center;
    position: relative;
}

.cover-image {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.cover-image img {
    object-fit: cover;
}

.cover-text {
    position: absolute;
    white-space: nowrap;
    font-weight: 300;
    top: 53%;
    left: 3.75%;
}

.header-text {
    /* */
}

.secondary-text {
    text-transform: uppercase;
}